2 . Write a program that prints 'Hello World' to the screen

In [21]:
class helloWorld:
    def __init__(self):
        self.message = "Hello World"

    def printMessage(self):
        print(self.message)

helloWorld = helloWorld()
helloWorld.printMessage()

Hello World

3. Write a program that prints a multiplication table for numbers upto 12

In [19]:
class multiplicationTable:
    def __init__(self, n):
        self.n = n

    def __str__(self):
        table = []
        for i in range(1, self.n + 1):
            rows = []
            for j in range(1, self.n + 1):
                rows.append(i * j)
            table.append(rows)
        maxWidth = len(str(table[-1][-1]))
        tableStr = ''
        for rows in table:
            rowStr = ' '.join([str(num).rjust(maxWidth) for num in rows])
            tableStr += rowStr + '\n'
        return tableStr

table = multiplicationTable(12)
print(table)

  1   2   3   4   5   6   7   8   9  10  11  12
  2   4   6   8  10  12  14  16  18  20  22  24
  3   6   9  12  15  18  21  24  27  30  33  36
  4   8  12  16  20  24  28  32  36  40  44  48
  5  10  15  20  25  30  35  40  45  50  55  60
  6  12  18  24  30  36  42  48  54  60  66  72
  7  14  21  28  35  42  49  56  63  70  77  84
  8  16  24  32  40  48  56  64  72  80  88  96
  9  18  27  36  45  54  63  72  81  90  99 108
 10  20  30  40  50  60  70  80  90 100 110 120
 11  22  33  44  55  66  77  88  99 110 121 132
 12  24  36  48  60  72  84  96 108 120 132 144

4.Write a function that tests wheather a string is a palindrome and test it in your program

In [13]:
def is_palindrome(string):
    return string == string[::-1]

test_cases = ["kayak", "donkey", "wow", "shreya"]
for test_case in test_cases:
    result = is_palindrome(test_case)
    print(f'{test_case}: {"is a palindrome" if result else "is not a palindrome"}')

kayak: is a palindrome
donkey: is not a palindrome
wow: is a palindrome
shreya: is not a palindrome

5.Write a function that combines two lists by alternatingly taking elements e.g[a,b,c],[1,2,3] ->[a,1,b,2,c,3] and test it in your program

In [5]:
def combine_lists(list1, list2):
    result = []
    for x, y in zip(list1, list2):
        result.extend([x, y])
    return result

list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
result = combine_lists(list1, list2)
print(result)

['a', 1, 'b', 2, 'c', 3]

6.Write a function that computes the list of the first 100 Fibonacci numbers.The first two Fibonacci numbers are 1 and 1.The n+1-st Fibonacci number can be computed by adding the nth and the n-1th Fibonacci number.The first few are therefore 1,1,1+1 = 2,1+2 = 3,2+3 = 5,3+5 = 8.Test it in your program.

In [4]:
def fibonacci(n):
    result = [1, 1]
    for i in range(2, n):
        result.append(result[-1] + result[-2])
    return result

result = fibonacci(100)
print(result)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075]

7.Write a function that determines if a given year is a leap year.Test it in your program

In [2]:
def is_leap_year(year):
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

test_cases = [2000, 2004, 1900, 1600, 1700, 2021]
for test_case in test_cases:
    result = is_leap_year(test_case)
    print(f"{test_case}: {result}")

2000: True
2004: True
1900: False
1600: True
1700: False
2021: False